.clear {
    clear: both;
}
header {
    max-width: 100%;
    height: 675px;
    background-color: black;
    display: block;
}
.nav {
    height: 50px;
    width: 500px;
    margin-left: 350px;
}
nav a  {
    float: right;
    margin-left: 80px;
    margin-top: 30px;
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    font-size: 1em;
}
.logo {
    width: 130px;
    height: 55px;
    margin-top: -25px;
    margin-left: 150px;
    float: left;
    position: relative;
    animation-name: example;
    animation-duration: 3s;  
    animation-delay: 1s;
    animation-fill-mode: backwards;
}
@keyframes example {
    from {margin-left: -120px;}
    to {margin-left: 150px;}
  }
.logo img {
    height: 30px;
    width: 103px;
}
.login {
    width: 100px;
    float: right;
    margin-right: 150px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: white;
    margin-top: -50px;
}
.login p {
    margin-top: 5px;
}
.login img {
    float: left;
    margin: 10px;
    width: 25px;
    margin-top: 0px;
    height: 30px;
}
.headtext {
    width: 1227px;
    height: 593px;
    float: right;
    max-width: 100%;
}
h1 {
    color: #ED2517;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7500em;
    margin-top: 100px;
    font-weight: bold;

}
h2 {
    font-size: 2.5em;
    color: white;
    margin-top: 25px;
    width: 500px;
    height: 150px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 55px;
}
.headtext p {
    color: #EBEBEB;
    font-family: Montserrat;
    width: 352px;
    height: 125px;
    line-height: 25px;
}
.kijk-trailer{
    width: 220px;
    height: 70px;
    margin-left: 750px;
    display: block;
    margin-top: -230px;
    background-image: url(../img/trailer.png);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    transform: translate(0%);
}
#try {
    width: 154px;
    height: 49px;
    color: white;
    background-color: #ED2517;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 30px;
}
#hero {
    height: 593px;
    width: 783px;
    float: right;
    margin-top: -415px;
}
main {
    height: 908px;
    background-color: white;
}
.maintext {
    width: 600px;
    height: 250px;
    margin: 0 auto;
}
.maintext p {
    color: #ED2517;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.7500em;
    margin-left: 200px;
    margin-top: 100px;
}
.maintext h2 {
    color: black;
    margin-top: 30px;
    margin-left: 50px;
    text-align: center;
    font-size: 2.5em;
}
.modal {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 750px;
    background-color: black;
  }
.trailervid {
    height: 300px;
    width: 500px;
    margin-top: 150px;
    margin-left: 450px;
}
.modal-content {
    height: 600px;
    width: 100%;
    z-index: 0;
}
.pause {
    width: 80px;
    height: 80px;
    margin-left: 670px;
    position: fixed;
    margin-top: 260px;
}
.forward {
    width: 50px;
    height: 50px;
    position: fixed;
    margin-left: 760px;
    margin-top: 275px;
}
.video1 {
    height: 450px;
    width: 600px;
}
.afspeelknoppen1 {
    width: 150px;
    height: 90px;
    position: absolute;
    z-index: 3;
    margin-top: 150px;
    margin-left: 260px;
    opacity: 0;
}
.afspeelknoppen2 {
    width: 150px;
    height: 90px;
    position: absolute;
    z-index: 3;
    margin-top: -250px;
    margin-left: -185px;
    opacity: 0;
}
.afspeelknoppen3 {
    width: 150px;
    height: 90px;
    position: absolute;
    z-index: 3;
    margin-top: -250px;
    opacity: 0;
    margin-left: 650px;
}
.spoelknop{
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left: 100px;
}
.playknop {
    width: 70px;
    height: 70px;
    margin-top: -45px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}
#video1:hover .afspeelknoppen1 {
    opacity: 1;
}
#video2:hover .afspeelknoppen2 {
    opacity: 1;
}
#video3:hover .afspeelknoppen3 {
    opacity: 1;
}
/* .vooruit {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.pauzeren {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-image: url(../img/playbtn@2x.png)
} */
#trailer1{
    z-index: 2;
    position: relative;
    margin-left: -14px;
}
#trailer2 {
    float: left;
    margin-left: -350px;
    z-index: 1;
    margin-top: -350px;
    position: relative;
}
#trailer3 {
    float: right;   
    margin-right: -350px;
    margin-top: -350px;
    z-index: 0;
}
/* #knoppen1 {
    width: 150px;
    height: 90px;
    position: absolute;
    z-index: 4;
    margin-top: 150px;
    margin-left: -150px;
}
#knoppen2 {
    width: 150px;
    height: 90px;
    position: absolute;
    z-index: 4;
    margin-top: 150px;
    margin-left: 650px;
} */
#maintext {
    color: #4B4B4B;
    font-family: Montserrat;
    width: 550px;
    height: 125px;
    line-height: 25px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
.tryb {
    margin-left: 640px;
}
#footerback {
    background-color: black;
    width: 100%;
    height: 800px;
    position: absolute;
}
h3 {
    font-size: 2.5em;
    color: white;
    width: 800px;
    height: 150px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 55px;
    margin: 0 auto;
    margin-top: 100px;
}
#tabs {
    background-color: black;
    width: 700px;
    height: 500px;
    margin: 0 auto;
}
ul li {
    width: 220px;
    color: black;
}
ul li a {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.7500em;
    color: white;
    margin-left: 72px;
}
#tabs-1 {
    width: 400px;
    height: 375px;
    margin: 0 auto;
    margin-top: 30px;
}
.textleft {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 0.7500em;
    margin: 15px;
    text-align: right;
    float: left;
    line-height: 30px;
    margin-left: 40px;
}
.textright {
    float: right;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: red;
    font-size: 0.7500em;
    width: 150px;
    margin: 11px;
    line-height: 30px;
    margin-top: 15px;
}
#pick {
    width: 180px;
    height: 45px;
    color: white;
    background-color: #ED2517;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    font-size: 0.8em;
    margin-left: 100px;
}
.downup {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.7500em;
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
}
div#tabs .ui-state-active  {
    background-color: red;
}


